@charset "utf-8";

/* Delete this when you start hacking! */
.wsp__container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;

  .content {
    max-width: 50%;
    margin-top: 45px;

    h1 {
      text-align: center;
      font-size: 2rem;
    }
  }

  img.wsp__logo {
    max-width: 180px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}
