@charset "utf-8";

/* Delete this when you start hacking! */
.wsp__container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  .content {
    margin-top: 45px;
    text-align: center;

    &>h1 {
      font-size: 3em;
    }
    &>p {
      font-size: 1.5em;
    }
  }

  img.wsp__logo {
    max-width: 180px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}

<% if ( frontend === "bulma"){ %>@import "~bulma/bulma"; <% } %>
<% if ( frontend === "normalize"){ %>@import "~normalize.css/normalize.css"; <% } %>
